
@keyframes showtxt {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

body{
  font-size: 16px;
  text-align: center;
}

.container--h1{
position: relative;
margin: 0 auto;
max-width: 90vw;
perspective: 200px;

  p {
    position: relative;
    animation-name: showtxt;
    animation-duration:1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }

  p:last-child{
    animation-delay: 2s;
  }

}

.title{
  position: relative;
  animation-name: showtxt;
  animation-duration:1s;
  animation-timing-function: ease-out;


}




