@import "/node_modules/modern-normalize/modern-normalize.css";

@keyframes move {

  0%{
    opacity:1;
    transform: translate(-150px);
  }
  100%{
    opacity:1;
    transform: translate(500px);
  }
} 

.title{
  color: red;
  margin:0;
}

.container{
  background-color: red;
  height: 100vh;
}

.container__box{
  position: relative;
  width: 900px;
  margin:0 auto;
}
.box{
  width:500px;
  height:300px;
  position:relative;
  display:inline-block;
  border: none;
}
.box--white{
  background-color: white;
}
.box--red{
  width:150px;
  background-color: red;
  z-index: 10;
}

.round{
  width:150px;
  height: 150px;
  border-radius: 100%;
  opacity:0;
  background-color: black;
  position: relative;
  top: 75px;



  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

